<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">

    <!-- Bootstrap stylesheets and script -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

    <title>Rankings</title>
</head>

<body>

    <h2>Player Rankings</h2>

    <table>
        <tr>
            <td>Rank</td>
            <td>Player Name</td>
            <td>Team</td>
            <td>Position</td>
            <td>Rating</td>
            <td>Runs</td>
            <td>HRs</td>
            <td>RBIs</td>
            <td>SOs</td>
            <td>SBs</td>
            <td>OBP</td>
            <td>SLG</td>
        </tr>
        <tr th:each="batter: ${batters}">
            <td th:text="${batter.rank}"></td>
            <td>
                <a th:href="@{'http://www.fangraphs.com/statss.aspx?playerid=' + ${batter.id}}" th:text="${batter.name}"></a>
            </td>
            <td th:text="${batter.team}"></td>
            <td th:text="${batter.positions}"></td>
            <td th:text="${batter.rating}"></td>
            <td th:text="${batter.intStats.runs}"></td>
            <td th:text="${batter.intStats.homeRuns}"></td>
            <td th:text="${batter.intStats.rbis}"></td>
            <td th:text="${batter.intStats.strikeOuts}"></td>
            <td th:text="${batter.intStats.stolenBases}"></td>
            <td th:text="${batter.dubStats.onBasePercent}"></td>
            <td th:text="${batter.dubStats.slugging}"></td>
        </tr>
    </table>


</body>
</html>