<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head>

    <title>Rankings</title>

</head>

<body>

    <h2>Player Rankings</h2>

    <form method="get">
        <div>
            <select name="position">
                <option value="All" th:selected="${selectedPosition} == 'All'">All</option>
                <option value="1B" th:selected="${selectedPosition} == '1B'" >1B</option>
                <option value="2B" th:selected="${selectedPosition} == '2B'">2B</option>
                <option value="3B" th:selected="${selectedPosition} == '3B'">3B</option>
                <option value="OF" th:selected="${selectedPosition} == 'OF'">OF</option>
                <option value="C" th:selected="${selectedPosition} == 'C'">C</option>
                <option value="DH" th:selected="${selectedPosition} == 'DH'">DH</option>
            </select>
            <input type="submit" value="Filter" />
        </div>
    </form>

    <table>
        <tr>
            <td>Rank</td>
            <td>Player Name</td>
            <td>Team</td>
            <td>Position</td>
            <td>Rating</td>
            <td>Runs</td>
            <td>HRs</td>
            <td>RBIs</td>
            <td>SOs</td>
            <td>SBs</td>
            <td>OBP</td>
            <td>SLG</td>
        </tr>
        <tr th:each="batter: ${batters}">
            <td th:text="${batter.rank}"></td>
            <td>
                <a th:href="@{'http://www.fangraphs.com/statss.aspx?playerid=' + ${batter.id}}" th:text="${batter.name}"></a>
            </td>
            <td th:text="${batter.team}"></td>
            <td th:text="${batter.positions}"></td>
            <td th:text="${batter.rating}"></td>
            <td th:text="${batter.intStats.runs}"></td>
            <td th:text="${batter.intStats.homeRuns}"></td>
            <td th:text="${batter.intStats.rbis}"></td>
            <td th:text="${batter.intStats.strikeOuts}"></td>
            <td th:text="${batter.intStats.stolenBases}"></td>
            <td th:text="${batter.dubStats.onBasePercent}"></td>
            <td th:text="${batter.dubStats.slugging}"></td>
        </tr>
    </table>


</body>
</html>